---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout
  pageTitle="Inicio"
  pageDescription="Website oficial de la Institución Educativa Coronel Francisco Bolognesi Cervantes."
>
  <h1 class="text-3xl font-bold">Página de inicio</h1>
  <p class="my-2">
    Bienvenido a la página oficial del colegio Francisco Bolognesi
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
    necessitatibus, repellendus voluptatem corporis exercitationem minus maxime
    nobis ea, nulla repellat, hic suscipit dolore amet odio eveniet sit
    reiciendis deleniti! Quo dolorem quia maxime pariatur quod consectetur,
    nihil voluptas. Repudiandae saepe quaerat cum ex vero, maxime eius porro
    blanditiis unde fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
    necessitatibus, repellendus voluptatem corporis exercitationem minus maxime
    nobis ea, nulla repellat, hic suscipit dolore amet odio eveniet sit
    reiciendis deleniti! Quo dolorem quia maxime pariatur quod consectetur,
    nihil voluptas. Repudiandae saepe quaerat cum ex vero, maxime eius porro
    blanditiis unde fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
    necessitatibus, repellendus voluptatem corporis exercitationem minus maxime
    nobis ea, nulla repellat, hic suscipit dolore amet odio eveniet sit
    reiciendis deleniti! Quo dolorem quia maxime pariatur quod consectetur,
    nihil voluptas. Repudiandae saepe quaerat cum ex vero, maxime eius porro
    blanditiis unde fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
    necessitatibus, repellendus voluptatem corporis exercitationem minus maxime
    nobis ea, nulla repellat, hic suscipit dolore amet odio eveniet sit
    reiciendis deleniti! Quo dolorem quia maxime pariatur quod consectetur,
    nihil voluptas. Repudiandae saepe quaerat cum ex vero, maxime eius porro
    blanditiis unde fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
    necessitatibus, repellendus voluptatem corporis exercitationem minus maxime
    nobis ea, nulla repellat, hic suscipit dolore amet odio eveniet sit
    reiciendis deleniti! Quo dolorem quia maxime pariatur quod consectetur,
    nihil voluptas. Repudiandae saepe quaerat cum ex vero, maxime eius porro
    blanditiis unde fugit.
  </p>
</BasicLayout>
