---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout
  pageTitle="Inicio"
  pageDescription="Website oficial de la Institución Educativa Coronel Francisco Bolognesi Cervantes."
>
  <h1 class="text-3xl font-bold">Página de inicio</h1>
  <p class="my-2">
    Bienvenido a la página oficial del colegio Francisco Bolognesi
  </p>
</BasicLayout>
