---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout
  pageTitle="Inicio"
  pageDescription="Website oficial de la Institución Educativa Coronel Francisco Bolognesi Cervantes."
>
  <h1 class="text-3xl font-bold">Página de inicio</h1>
  <p class="my-2">
    Bienvenido a la página oficial del colegio Francisco Bolognesi
  </p>

  <div>
    <h1 class="text-2xl font-bold text-center p-8 bg-black my-4 md:p-20">
      Slide de noticias importantes del colegio, banner de anuncios
    </h1>
  </div>

  <!-- <div>
    <h1 class="text-2xl font-bold text-center p-8 bg-black my-4 md:p-20">
      Grid con cards a trámites o solicitud de documentos típicos
    </h1>
  </div> -->

  <div>
    <h1 class="text-2xl font-bold text-center p-8 bg-black my-4 md:p-20">
      Niveles Educativos
    </h1>
  </div>
</BasicLayout>
