---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout
  pageTitle="Nosotros"
  pageDescription="Conoce más acerca de nuestra institución."
>
  <h1 class="text-3xl font-bold">Acerca de nuestro colegio</h1>
  <p class="my-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat nulla ea
    quas ex ad quisquam temporibus iusto repellendus exercitationem cum
    accusantium, dolorum quasi cumque eligendi illum minima adipisci obcaecati!
    Cum.
  </p>
</BasicLayout>
