<footer class="bg-blue-600 text-white p-5 flex flex-col md:flex-row">
  <div>
    <h1 class="text-2xl font-bold">Contáctanos</h1>

    <ul class="list-inside list-none text-xl">
      <li class="flex items-center gap-3">
        <img src="/svg/telefono.svg" alt="test" class="h-8" />
        <p>2534917</p>
      </li>
      <li class="flex items-center gap-3">
        <img src="/svg/email.svg" alt="test" class="h-8" />
        <p>franress@hotmail.com</p>
      </li>
      <li class="flex items-center gap-3">
        <img src="/svg/ubicacion.svg" alt="test" class="h-8" />
        <p>Lima 15423</p>
      </li>
    </ul>
  </div>
</footer>
