---
interface Props {
  pageTitle: string;
  pageDescription: string;
}

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { pageTitle, pageDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/svg/favicon.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={pageDescription} />
    <title>IE Francisco Bolognesi | {pageTitle}</title>
  </head>
  <body class="flex h-screen flex-col">
    <Header />
    <section class="bg-blue-900 text-white p-5 flex-1">
      <slot />
    </section>
    <Footer />

    <!-- <style>
      body {
        background: #3452ec;
        color: white;
      }
    </style> -->
  </body>
</html>
