---
interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={pageDescription} />
    <title>IE Francisco Bolognesi | {pageTitle}</title>
  </head>
  <body class="bg-blue-900 text-white m-5">
    <slot />

    <!-- <style>
      body {
        background: #3452ec;
        color: white;
      }
    </style> -->
  </body>
</html>
